* {
  padding: 0;
  margin: 0;
  user-select: none;
}

body {
  background-color: #f1f1f1 !important;
}

.navbar-brand {
  font-size: 1.6rem !important;
}

.active-nav {
  color: rgb(255, 255, 255) !important;
}

.under-head {
  width: 15rem;
  margin: auto;
  margin-bottom: 2rem;
  height: 0.4rem !important;
  color: rgb(9, 76, 219);
  box-shadow: 8px 12px 8px 2px;
}

.cover-image {
  width: 100%;
}

@media only screen and (min-width: 550px) {
  .under-head {
    width: 20rem;
  }
}